<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/resources/js/searchLog.js" defer charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/formObjectTree.js" defer charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/formTreeInHtml.js" defer charset="UTF-8"></script>
</head>
<body>
<div>
    <label>Text:</label>
    <input type="text" id="search-text">
    <label>Root:</label>
    <input type="text" id="root-directory">
    <label>Extension:</label>
    <input type="text" id="extension">
    <button id="search" onclick="searchLog()">Search</button>
    <div id="container"></div>
</div>
</body>
</html>